@import 'tailwindcss';
@import '@repo/design-system/theme.css';

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  margin: 0;
  font-family: 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--margined-background);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Unable to get tailwindcss-v4 to honor md change, so doing traditional css instead */
.step-container {
  display: flex;
  flex-direction: column; /* default: stacked */
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .step-container {
    flex-direction: row;
  }
}

/* Toast Animations */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.toast-enter {
  animation: slideInFromRight 0.5s ease forwards;
}

/* Progress-Bar/Border Animation */
@keyframes shrink-left-to-right {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}

.animate-top-shrink {
  animation: shrink-left-to-right calc(var(--duration) / 4) forwards;
  animation-delay: 0ms;
}

@keyframes shrink-top-to-bottom {
  from {
    height: 100%;
    top: 0;
  }
  to {
    height: 0%;
    top: 100%;
  }
}
.animate-right-shrink {
  animation: shrink-top-to-bottom calc(var(--duration) / 4) linear forwards;
  animation-delay: calc(var(--duration) / 4);
  animation-fill-mode: both;
}

@keyframes shrink-right-to-left {
  from {
    width: 100%;
    right: 0;
  }
  to {
    width: 0%;
    right: 100%;
  }
}
.animate-bottom-shrink {
  animation: shrink-right-to-left calc(var(--duration) / 4) linear forwards;
  animation-delay: calc(var(--duration) / 2);
  animation-fill-mode: both;
}

@keyframes shrink-bottom-to-top {
  from {
    height: 100%;
    bottom: 0%;
  }
  to {
    height: 0%;
    bottom: 100%;
  }
}
.animate-left-shrink {
  animation: shrink-bottom-to-top calc(var(--duration) / 4) linear forwards;
  animation-delay: calc(3 * var(--duration) / 4);
  animation-fill-mode: both;
}
/* END - Progress-Bar/Border Animation */
/* END - Toast Animations */
