@import 'tailwindcss';
@import '@repo/design-system/theme.css';

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  margin: 0;
  font-family: 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--margined-background);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Unable to get tailwindcss-v4 to honor md change, so doing traditional css instead */
.step-container {
  display: flex;
  flex-direction: column; /* default: stacked */
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .step-container {
    flex-direction: row;
  }
}
