{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["**/src/**/*.tsx"],
      "options": {
        "semi": false
      }
    }
  ]
}
