/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Color Paletts with https://www.colorpalett.es/ */
  /* --color-primary-50: oklch(91.45% 0.023 264); */

  --color-cream: #fff1dd;
  --color-background: var(--background);
  --color-background-see-through: var(--background-see-through);
  --color-marged-background: var(--margined-background);
  --color-input-focus-background: var(--input-focus-background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-text-error: var(--text-error);
  --color-muted: var(--muted);
}

@layer base {
  :root {
    --background: #fff1dd;
    --background-see-through: rgba(255, 241, 221, 0.75);
    --margined-background: #ffe9c9;
    --input-focus-background: #ffe9c9;
    --border: #000;
    --text: #000;
    --text-rgb: 0 0 0;
    --text-error: theme('colors.red.900');
    --muted: #4444447b;
  }

  [data-theme='dark'] {
    --background: #000;
    --background-see-through: rgba(0, 0, 0, 0.75);
    --margined-background: #242424;
    --input-focus-background: #242424;
    --border: #fff1dd;
    --text: #fff1dd;
    --text-rgb: 255 241 221;
    --text-error: theme('colors.red.300');
    --muted: #bbbbbb7b;
  }
}

@layer components {
  * {
    @apply transition-colors duration-500;
  }

  button {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  div {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  h1 {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  input {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  input:focus {
    background-color: var(--color-input-focus-background);
  }

  textarea {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  textarea:focus {
    background-color: var(--color-input-focus-background);
  }

  ::placeholder {
    color: var(--color-muted);
  }
}

/* This all of the sudden stopped working so defining in css: 'shadow-[4px_4px_theme(colors.background),4px_4px_0px_1px_theme(colors.text)]' */
.custom-shadow-default {
  box-shadow:
    4px 4px 0px var(--background),
    4px 4px 0px 1px var(--text);
}

.custom-shadow-opposite {
  box-shadow:
    4px 4px 0px var(--text),
    4px 4px 0px 1px var(--background);
}
