/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Color Paletts with https://www.colorpalett.es/ */
  /* --color-primary-50: oklch(91.45% 0.023 264); */

  --color-background: var(--background);
  --color-marged-background: var(--margined-background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-muted: var(--muted);
}

@layer base {
  :root {
    --background: #fff;
    --margined-background: #f0f0f0;
    --border: #000;
    --text: #000;
    --muted: #7b7b7b7b;
  }

  [data-theme="dark"] {
    --background: #000;
    --margined-background: #242424;
    --border: #fff;
    --text: #fff;
    --muted: #7b7b7b7b;
  }
}

@layer components {
  button {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  div {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  h1 {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  input {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }

  textarea {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
  }
}
