ENV=dev
PORT=3001

DATABASE_URL="postgresql://user:password@localhost:5432/recipes-db?schema=public"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_CLOUDFRONT_BASE_URL=http://localhost:4566/recipehall-images-prod
AWS_S3_ENDPOINT_URL=http://localhost:4566
AWS_S3_BUCKET_NAME=recipehall-images-prod

JWT_SECRET=
JWT_EXPIRES_IN=3d

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE_IN=3d

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
GOOGLE_AI_STUDIO_API_KEY=

KAFKA_KEY=
KAFKA_SECRET=
KAFKA_BROKER_URLS=
KAFKA_CLIENT_ID=
USE_KAFKA=true
